In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/comparison-of-north-american-ski-resorts/north_american_ski_resort_data.csv

In [2]:
df=pd.read_csv('../input/comparison-of-north-american-ski-resorts/north_american_ski_resort_data.csv')

In [3]:
df.head()

,Resort,City,State,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Total lifts,Avg annual snowfall (in),Lift ticket (USD)
0,Afton Alps,Afton,Minnesota,700,350,350,300,50,22,60,28
1,Pomerelle Mountain Resort,Albion,Idaho,9000,8000,1000,500,24,2,500,45
2,Sandia Peak,Albuquerque,New Mexico,10378,8678,1700,200,39,5,100,55
3,Bear Creek Mountain Resort,Allentown,Pennsylvania,1100,590,510,86,21,7,30,60
4,Grand Targhee Resort,Alta,Wyoming,10121,7851,2270,2602,99,5,500,98

In [4]:
df1=pd.read_csv('../input/comparison-of-north-american-ski-resorts/north_american_ski_resort_data.csv',usecols=['Resort','City','State'])

In [5]:
df1.describe()

                  Resort            City     State
count                462             462       462
unique               457             402        44
top     Crystal Mountain  Salt Lake City  New York
freq                   2               4        36

In [6]:
for i in df1.columns[0:]:
    print(len(df[i].unique()))

457
402
44

In [7]:
df1.State.value_counts()

New York                     36
Michigan                     32
Colorado                     32
Wisconsin                    29
New Hampshire                28
California                   26
British Columbia             22
Pennsylvania                 21
Vermont                      20
Maine                        17
Idaho                        17
Minnesota                    17
Washington                   16
Montana                      15
Utah                         14
Oregon                       13
Massachusetts                11
Wyoming                       9
New Mexico                    8
Alaska                        7
Alberta                       7
North Carolina                6
Ohio                          5
Connecticut                   4
Arizona                       4
Quebec                        4
Iowa                          4
Nevada                        4
Virginia                      4
Illinois                      4
West Virginia                 4
New Jersey                    3
North Dakota                  3
Ontario                       2
Indiana                       2
South Dakota                  2
Newfoundland and Labrador     2
Missouri                      2
Rhode Island                  1
Tennessee                     1
Maryland                      1
Alabama                       1
Nova Scotia                   1
Yukon                         1
Name: State, dtype: int64

## Top 10 Unique labels

In [8]:
df1.State.value_counts().sort_values(ascending=False).head(10)

New York            36
Colorado            32
Michigan            32
Wisconsin           29
New Hampshire       28
California          26
British Columbia    22
Pennsylvania        21
Vermont             20
Idaho               17
Name: State, dtype: int64

In [9]:
df1.State.value_counts().sort_values(ascending=False).head(10).index

Index(['New York', 'Colorado', 'Michigan', 'Wisconsin', 'New Hampshire',
       'California', 'British Columbia', 'Pennsylvania', 'Vermont', 'Idaho'],
      dtype='object')

In [10]:
lst_10=df1.State.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [11]:
lst_10

['New York',
 'Colorado',
 'Michigan',
 'Wisconsin',
 'New Hampshire',
 'California',
 'British Columbia',
 'Pennsylvania',
 'Vermont',
 'Idaho']

In [12]:
for categories in lst_10:
    df1[categories]=np.where(df1['State']==categories,1,0)

In [13]:
lst_10.append('State')

In [14]:
df1[lst_10]

,New York,Colorado,Michigan,Wisconsin,New Hampshire,California,British Columbia,Pennsylvania,Vermont,Idaho,State
0,0,0,0,0,0,0,0,0,0,0,Minnesota
1,0,0,0,0,0,0,0,0,0,1,Idaho
2,0,0,0,0,0,0,0,0,0,0,New Mexico
3,0,0,0,0,0,0,0,1,0,0,Pennsylvania
4,0,0,0,0,0,0,0,0,0,0,Wyoming
...,...,...,...,...,...,...,...,...,...,...,...
457,0,0,0,0,1,0,0,0,0,0,New Hampshire
458,0,0,0,0,0,0,0,0,0,0,Massachusetts
459,0,0,0,0,0,1,0,0,0,0,California
460,0,0,0,0,0,0,0,0,0,0,Washington
461,0,0,0,0,0,1,0,0,0,0,California

## Verifying the Vertical Drop

In [15]:
df.head()

,Resort,City,State,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Total lifts,Avg annual snowfall (in),Lift ticket (USD)
0,Afton Alps,Afton,Minnesota,700,350,350,300,50,22,60,28
1,Pomerelle Mountain Resort,Albion,Idaho,9000,8000,1000,500,24,2,500,45
2,Sandia Peak,Albuquerque,New Mexico,10378,8678,1700,200,39,5,100,55
3,Bear Creek Mountain Resort,Allentown,Pennsylvania,1100,590,510,86,21,7,30,60
4,Grand Targhee Resort,Alta,Wyoming,10121,7851,2270,2602,99,5,500,98

In [16]:
df2=df[["Peak elevation (ft)","Base elevation (ft)","Vertical drop (ft)","Skiable acreage","Total trails","Avg annual snowfall (in)","Lift ticket (USD)"]]

In [17]:
df2.head()

,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Avg annual snowfall (in),Lift ticket (USD)
0,700,350,350,300,50,60,28
1,9000,8000,1000,500,24,500,45
2,10378,8678,1700,200,39,100,55
3,1100,590,510,86,21,30,60
4,10121,7851,2270,2602,99,500,98

In [18]:
df2["Verify"]=df2["Peak elevation (ft)"]-df2["Base elevation (ft)"]
df2

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Avg annual snowfall (in),Lift ticket (USD),Verify
0,700,350,350,300,50,60,28,350
1,9000,8000,1000,500,24,500,45,1000
2,10378,8678,1700,200,39,100,55,1700
3,1100,590,510,86,21,30,60,510
4,10121,7851,2270,2602,99,500,98,2270
...,...,...,...,...,...,...,...,...
457,815,600,215,18,7,186,25,215
458,2006,1006,1000,110,22,100,73,1000
459,8200,6600,1600,290,59,132,79,1600
460,6500,4500,2000,1400,45,350,69,2000
461,8000,7200,800,90,10,300,59,800

In [19]:
df3=df[["Resort","City"]]

In [20]:
df3.head()

                       Resort         City
0                  Afton Alps        Afton
1   Pomerelle Mountain Resort       Albion
2                 Sandia Peak  Albuquerque
3  Bear Creek Mountain Resort    Allentown
4       Grand Targhee Resort          Alta

In [21]:
for feature in df3.columns[1:]:
    print(feature,":",len(df3[feature].unique()),'labels')

City : 402 labels

In [22]:
city_map=df3['City'].value_counts().to_dict()

In [23]:
city_map

{'Salt Lake City': 4,
 'Aspen': 4,
 'Truckee': 3,
 'Scranton': 3,
 'Durango': 3,
 'Government Camp': 3,
 'Manchester': 3,
 'Jackson': 3,
 'Traverse City': 2,
 'Three Points': 2,
 'Jay': 2,
 'Harbor Springs': 2,
 'Norden': 2,
 'Kalispell': 2,
 'Vernon': 2,
 'North Conway': 2,
 'Bozeman': 2,
 'Taos': 2,
 'Claremont': 2,
 'North Vancouver': 2,
 'Steamboat Springs': 2,
 'Spokane': 2,
 'Lincoln': 2,
 'Hancock': 2,
 'Soda Springs': 2,
 'Boston': 2,
 'Silverton': 2,
 'Park City': 2,
 'Duluth': 2,
 'Great Barrington': 2,
 'Pittsfield': 2,
 'Fairbanks': 2,
 'Glens Falls': 2,
 'Plymouth': 2,
 'Richmond': 2,
 'Portage': 2,
 'Portland': 2,
 'Red Lodge': 2,
 'Kamloops': 2,
 'Gaylord': 2,
 'Waterville': 2,
 'Anchorage': 2,
 'Bessemer': 2,
 'Killington': 2,
 'Big Bear Lake': 2,
 'Banff': 2,
 'Waterbury': 2,
 'Boise': 2,
 'Keystone': 2,
 'Lewiston': 2,
 'Mammoth Lakes': 1,
 'Petite-RiviÃ¨re-Saint-FranÃ§ois': 1,
 'Penticton': 1,
 'Madison': 1,
 'Peninsula': 1,
 'Maggie Valley': 1,
 'Ouray': 1,
 'Mahwah': 1,
 'Palmerton': 1,
 'Patterson': 1,
 'Pagosa Springs': 1,
 'Pierce': 1,
 'Malone': 1,
 'Paoili': 1,
 'Petoskey': 1,
 'Missoula': 1,
 'Lyndonville': 1,
 'Ludlow': 1,
 'Logan': 1,
 'Londonderry': 1,
 'Port Angeles': 1,
 'Pomfret': 1,
 'Pocatello': 1,
 'Los Alamos': 1,
 'Plum': 1,
 'Pincher Creek': 1,
 'Lutsen': 1,
 'Plattburgh': 1,
 'Lyme': 1,
 'Pinedale': 1,
 'Mandan': 1,
 'Lyndon': 1,
 'Otsego': 1,
 'Manning Park': 1,
 'Otis': 1,
 'Ontonagon': 1,
 'Nelson': 1,
 'Presque Isle': 1,
 'Naperville': 1,
 'Mount Shasta': 1,
 'Mount Horeb': 1,
 'Mount Baldy': 1,
 'Moultonborough': 1,
 'Morris': 1,
 'Monticello': 1,
 'Mont Tremblant': 1,
 'Moline': 1,
 'Merrillan': 1,
 'Middlefield': 1,
 'Milwaukee': 1,
 'Mohawk': 1,
 'Newry': 1,
 'Nisswa': 1,
 'Mentone': 1,
 'Marlinton': 1,
 'Mankato': 1,
 'Mansfield': 1,
 'Omaha': 1,
 'Oliver': 1,
 'Old Forge': 1,
 'Ogden': 1,
 'Oakridge': 1,
 'North Bend': 1,
 'Norway': 1,
 'Marquette': 1,
 'North Powder': 1,
 'Mars Hill': 1,
 'McCall': 1,
 'McHenry': 1,
 'Nederland': 1,
 'Afton': 1,
 'Provo': 1,
 'Vernon Township': 1,
 'Wausau': 1,
 'Waterville Valley': 1,
 'Watertown': 1,
 'Warwick': 1,
 'Warren': 1,
 'Walhalla': 1,
 'Waitsfield': 1,
 'Wabasha': 1,
 'Virgil': 1,
 'Vail': 1,
 'Tonasket': 1,
 'Upson': 1,
 'Ulysses': 1,
 'Twisp': 1,
 'Twin Falls': 1,
 'Twin Bridges': 1,
 'Turin': 1,
 'Tupper Lake': 1,
 'Tully': 1,
 'Tucson': 1,
 'Wenatchee': 1,
 'Wentworth': 1,
 'West Bend': 1,
 'West Vancouver': 1,
 'Yakima': 1,
 'Wrightwood': 1,
 'Worcester': 1,
 'Wolfeboro': 1,
 'Wofford Heights': 1,
 'Wisconsin Dells': 1,
 'Winter Park': 1,
 'Winhall': 1,
 'Windham': 1,
 'Wilmot': 1,
 'Williams': 1,
 'Wildwood': 1,
 'Wild Rose': 1,
 'Whitehorse': 1,
 'White Lake': 1,
 'White Haven': 1,
 'Whistler': 1,
 'Wheeling': 1,
 'Weston': 1,
 'Truxton': 1,
 'Tollgate': 1,
 'Red Deer': 1,
 'Running Springs': 1,
 'Schwenksville': 1,
 'Schenectady': 1,
 'Sault Ste. Marie, Ontario': 1,
 'Saranac Lake': 1,
 'Sapphire': 1,
 'Santa Fe': 1,
 'Sandpoint': 1,
 'Salmo': 1,
 'Salida': 1,
 'Ruidoso': 1,
 'Thompsonville': 1,
 'Littleton': 1,
 'Rossland ': 1,
 'Rome': 1,
 'Rochester': 1,
 'Rhinelander': 1,
 'Revelstoke': 1,
 'Reno': 1,
 'Red Wing': 1,
 'Red River': 1,
 'Seven Springs': 1,
 'Shiocton': 1,
 'Shrewsbury': 1,
 'Sioux Falls': 1,
 'Teton Village': 1,
 'Terrace': 1,
 'Ten Sleep': 1,
 'Telluride': 1,
 'Taylors Falls': 1,
 'Superior': 1,
 'Sun Valley': 1,
 'Stowe': 1,
 'Stevens Pass': 1,
 'Steady Brook': 1,
 'State College': 1,
 'Stambaugh': 1,
 'St. Albans': 1,
 'Speculator': 1,
 'South Lake Tahoe': 1,
 'Sonora': 1,
 'Sodus': 1,
 'Slinger': 1,
 'Sisters': 1,
 'Roxbury': 1,
 'Lancaster': 1,
 'Ligonier': 1,
 'Chesterland': 1,
 'Colden': 1,
 'Cokeville': 1,
 "Coeur d'Alene": 1,
 'Cody': 1,
 'Clear Spring': 1,
 'Claysburg': 1,
 'Clarkston': 1,
 'Clarenville': 1,
 'Choteau': 1,
 'Cherry Creek': 1,
 'Cadillac': 1,
 'Chelan': 1,
 'Chehalis': 1,
 'Charlottesville': 1,
 'Charlevoix': 1,
 'Challis': 1,
 'Centennial': 1,
 'Casper': 1,
 'Carrabassett Valley': 1,
 'Campton': 1,
 'Collingwood': 1,
 'Concord': 1,
 'Cordova': 1,
 'Cornwall': 1,
 'Enfield': 1,
 'Elko': 1,
 'Elkhorn': 1,
 'Edinboro': 1,
 'Eden': 1,
 'Easton': 1,
 'East Stroudsburg': 1,
 'Dubuque': 1,
 'Dryfork': 1,
 'Dresser': 1,
 'Dover': 1,
 'Dillon': 1,
 'Detroit Lakes': 1,
 'Des Moines': 1,
 'Dayton': 1,
 'Danbury': 1,
 'Crested Butte': 1,
 'Courtenay': 1,
 'Cottonwood': 1,
 'Camden': 1,
 'Burnsville': 1,
 'Erie': 1,
 'Augusta': 1,
 'Beaver': 1,
 'BeauprÃ©': 1,
 'Bayfield': 1,
 'Basye': 1,
 'Bartlett': 1,
 'Baraboo': 1,
 'Banner Elk': 1,
 'Bangor': 1,
 'Avon': 1,
 'Ashland': 1,
 'Buffalo': 1,
 'Arpin': 1,
 'Arco': 1,
 'Antigo': 1,
 'Angels Camp': 1,
 'Angel Fire': 1,
 'Anaconda': 1,
 'Alta': 1,
 'Allentown': 1,
 'Albuquerque': 1,
 'Beech Mountain': 1,
 'Bellafontaine': 1,
 'Bellaire': 1,
 'Belmont': 1,
 'Bruce': 1,
 'Bromont': 1,
 'Brighton': 1,
 'Bridgton': 1,
 'Brian Head': 1,
 'Bretton Woods': 1,
 'Breckenridge': 1,
 'Brattleboro': 1,
 'Boyne City': 1,
 'Bottineau': 1,
 'Boone': 1,
 'Blowing Rock': 1,
 'Bloomington': 1,
 'Blandford': 1,
 'Biwabik': 1,
 'Bingham': 1,
 'Bethel': 1,
 'Bend': 1,
 'Bemidji': 1,
 'Enumclaw': 1,
 'Evergreen': 1,
 'Libby': 1,
 'Jasper': 1,
 'Kensington': 1,
 'Kelowna': 1,
 'Keene': 1,
 'Kananaskis': 1,
 'Juneau': 1,
 'June Lake': 1,
 'Joseph': 1,
 'Johnstown': 1,
 'Jeffersonville': 1,
 'Ironwood': 1,
 'Henniker': 1,
 'Iron Mountain': 1,
 'Invermere': 1,
 'Incline Village': 1,
 'Idaho Falls': 1,
 'Huntsville': 1,
 'Hunter': 1,
 'Hot Springs': 1,
 'Hood River': 1,
 'Homewood': 1,
 'Kewaunee': 1,
 'Kimball': 1,
 'Kimberley': 1,
 'Kingston': 1,
 'Lewisberry': 1,
 'Lee': 1,
 'Lebanon': 1,
 'Leavenworth': 1,
 'Leadville': 1,
 'Lead': 1,
 'Lawrenceburg': 1,
 'Las Vegas': 1,
 'Albion': 1,
 'Lakeview': 1,
 'Lakeshore': 1,
 'Lake Placid': 1,
 'Lake Louise': 1,
 'Lake Geneva': 1,
 'Lake City': 1,
 'Laconia': 1,
 'Lackawaxen': 1,
 'La Crosse': 1,
 'Kirkwood': 1,
 'Hidden Valley': 1,
 'Helena': 1,
 'Exeter': 1,
 'Freeland': 1,
 'Glen Arbor': 1,
 'Glacier': 1,
 'Girdwood': 1,
 'Ghent': 1,
 'Gettysburg': 1,
 'Georgetown': 1,
 'Gatlinburg': 1,
 'Galena': 1,
 'Frisco': 1,
 'Franklin': 1,
 'Havre': 1,
 'Franconia': 1,
 'Fort McCoy': 1,
 'Florence': 1,
 'Flagstaff': 1,
 'Fernie': 1,
 'Fayetteville': 1,
 'Farmington': 1,
 'Fairfield': 1,
 'Fabius': 1,
 'Glenwood': 1,
 'Glenwood Springs': 1,
 'Gobles': 1,
 'Golden': 1,
 'Haverhill': 1,
 'Hartford': 1,
 'Harrisonburg': 1,
 'Harrison': 1,
 'Hamilton': 1,
 'Hailey': 1,
 'Gunnison': 1,
 'Grove': 1,
 'Greer': 1,
 'Greenwich': 1,
 'Greenville': 1,
 'Greenfield': 1,
 'Green Bay': 1,
 'Great Falls': 1,
 'Grangeville': 1,
 'Grand Rapids': 1,
 'Grand Junction': 1,
 'Grand Haven': 1,
 'Granby': 1,
 'Yosemite National Park': 1}

In [24]:
df3['Citys']=df3['City'].map(city_map)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
df3.is_copy=False

In [26]:
df3.head()

                       Resort         City  Citys
0                  Afton Alps        Afton      1
1   Pomerelle Mountain Resort       Albion      1
2                 Sandia Peak  Albuquerque      1
3  Bear Creek Mountain Resort    Allentown      1
4       Grand Targhee Resort          Alta      1

In [27]:
df2.head()

,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Avg annual snowfall (in),Lift ticket (USD),Verify
0,700,350,350,300,50,60,28,350
1,9000,8000,1000,500,24,500,45,1000
2,10378,8678,1700,200,39,100,55,1700
3,1100,590,510,86,21,30,60,510
4,10121,7851,2270,2602,99,500,98,2270

In [28]:
df.head(10)

,Resort,City,State,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Total lifts,Avg annual snowfall (in),Lift ticket (USD)
0,Afton Alps,Afton,Minnesota,700,350,350,300,50,22,60,28
1,Pomerelle Mountain Resort,Albion,Idaho,9000,8000,1000,500,24,2,500,45
2,Sandia Peak,Albuquerque,New Mexico,10378,8678,1700,200,39,5,100,55
3,Bear Creek Mountain Resort,Allentown,Pennsylvania,1100,590,510,86,21,7,30,60
4,Grand Targhee Resort,Alta,Wyoming,10121,7851,2270,2602,99,5,500,98
5,Discovery,Anaconda,Montana,8158,5770,2388,2200,67,8,150,52
6,Arctic Valley,Anchorage,Alaska,4000,2500,1500,320,24,3,250,40
7,Hilltop,Anchorage,Alaska,780,486,294,30,13,3,69,34
8,Angel Fire Resort [41],Angel Fire,New Mexico,10677,8600,2077,30,80,7,210,84
9,Bear Valley,Angels Camp,California,8500,6600,1900,1280,67,10,359,105

In [29]:
df.groupby(["State"])['Avg annual snowfall (in)'].mean().sort_values(ascending=False)

State
Utah                         404.428571
California                   305.230769
Washington                   296.250000
Oregon                       293.615385
British Columbia             287.590909
Alaska                       274.000000
Colorado                     272.187500
Wyoming                      257.222222
Montana                      248.066667
Idaho                        221.705882
Vermont                      220.600000
Arizona                      210.000000
Nevada                       201.500000
New Mexico                   198.375000
Quebec                       195.250000
Alberta                      188.428571
Yukon                        186.000000
New Hampshire                154.142857
West Virginia                154.000000
Nova Scotia                  150.000000
South Dakota                 150.000000
Michigan                     146.687500
Newfoundland and Labrador    146.000000
New York                     139.666667
Maine                        127.352941
Ontario                      120.500000
Wisconsin                    107.448276
Massachusetts                106.818182
Maryland                     100.000000
Pennsylvania                  81.238095
Minnesota                     80.176471
North Dakota                  79.666667
Iowa                          75.250000
Ohio                          72.800000
New Jersey                    58.333333
Connecticut                   52.250000
North Carolina                50.166667
Rhode Island                  39.000000
Virginia                      37.500000
Illinois                      30.250000
Indiana                       20.500000
Missouri                      19.500000
Tennessee                      9.000000
Alabama                        0.000000
Name: Avg annual snowfall (in), dtype: float64

In [30]:
ordinal_labels=df.groupby(["State"])['Avg annual snowfall (in)'].mean().sort_values(ascending=False).index
ordinal_labels

Index(['Utah', 'California', 'Washington', 'Oregon', 'British Columbia',
       'Alaska', 'Colorado', 'Wyoming', 'Montana', 'Idaho', 'Vermont',
       'Arizona', 'Nevada', 'New Mexico', 'Quebec', 'Alberta', 'Yukon',
       'New Hampshire', 'West Virginia', 'Nova Scotia', 'South Dakota',
       'Michigan', 'Newfoundland and Labrador', 'New York', 'Maine', 'Ontario',
       'Wisconsin', 'Massachusetts', 'Maryland', 'Pennsylvania', 'Minnesota',
       'North Dakota', 'Iowa', 'Ohio', 'New Jersey', 'Connecticut',
       'North Carolina', 'Rhode Island', 'Virginia', 'Illinois', 'Indiana',
       'Missouri', 'Tennessee', 'Alabama'],
      dtype='object', name='State')

In [31]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'Utah': 0,
 'California': 1,
 'Washington': 2,
 'Oregon': 3,
 'British Columbia': 4,
 'Alaska': 5,
 'Colorado': 6,
 'Wyoming': 7,
 'Montana': 8,
 'Idaho': 9,
 'Vermont': 10,
 'Arizona': 11,
 'Nevada': 12,
 'New Mexico': 13,
 'Quebec': 14,
 'Alberta': 15,
 'Yukon': 16,
 'New Hampshire': 17,
 'West Virginia': 18,
 'Nova Scotia': 19,
 'South Dakota': 20,
 'Michigan': 21,
 'Newfoundland and Labrador': 22,
 'New York': 23,
 'Maine': 24,
 'Ontario': 25,
 'Wisconsin': 26,
 'Massachusetts': 27,
 'Maryland': 28,
 'Pennsylvania': 29,
 'Minnesota': 30,
 'North Dakota': 31,
 'Iowa': 32,
 'Ohio': 33,
 'New Jersey': 34,
 'Connecticut': 35,
 'North Carolina': 36,
 'Rhode Island': 37,
 'Virginia': 38,
 'Illinois': 39,
 'Indiana': 40,
 'Missouri': 41,
 'Tennessee': 42,
 'Alabama': 43}

In [32]:
df['State_mean_avg_snowfall_rank']=df['State'].map(ordinal_labels2)
df.head()

,Resort,City,State,Peak elevation (ft),Base elevation (ft),Vertical drop (ft),Skiable acreage,Total trails,Total lifts,Avg annual snowfall (in),Lift ticket (USD),State_mean_avg_snowfall_rank
0,Afton Alps,Afton,Minnesota,700,350,350,300,50,22,60,28,30
1,Pomerelle Mountain Resort,Albion,Idaho,9000,8000,1000,500,24,2,500,45,9
2,Sandia Peak,Albuquerque,New Mexico,10378,8678,1700,200,39,5,100,55,13
3,Bear Creek Mountain Resort,Allentown,Pennsylvania,1100,590,510,86,21,7,30,60,29
4,Grand Targhee Resort,Alta,Wyoming,10121,7851,2270,2602,99,5,500,98,7